.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pilots-and-ships {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pilots-and-ships ul { list-style: none; }
.pilots-and-ships li { border-bottom: 1px solid black; }

.ships {
  background-color: grey;
}
.pilots {
  background-color: lightgray;
}
.ship { cursor: pointer; }
.ship h2 { margin-bottom: 0.5rem; }

.ship.selected { background-color: lightblue; }
